.mt-2{
    margin-top: 20px;
}

.mb-2{
    margin-bottom: 20px;
}

.mx-auto{
    margin: auto;
}

.p-2{
    padding: 0px 10px;
}

.d-flex{
    display: flex;
    flex-direction: column;
}

.main__row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
}

.main__title{
    font-size: 2.5rem;
    line-height: 60px;
}

.main__display{
    color: #df2020;
}

.main__description{
    font-size: 1rem;
    line-height: 30px;
    color: #666;
}

.main__btns{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 20px;
}

.btn{
    border: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.btn__outline--danger{
    color: #fff;
    background: #d01d1d;
    border: 1px solid #d01d1d5d;
}

.img__fluid{
    width: 100%;
    object-fit: contain;
}

.main__icons{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 2rem;
}

.main__icon{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #212245;
}

.service__icon{
    padding: 8px 8px;
    background: #df2020;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.food__category{
    background: #df2020;
    text-align: center;
    margin-top: 30px;
    padding: 20px 0;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-gap: 20px;
}

.food__btn,
.all_category{
    border: none;
    outline: none;
    padding: 7px 20px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.food_btn_Active{
    background: #fff;
    border-radius: 5px;
    color: #df2020;
}

.food__img{
    width: 20px;
    height: 20px;
}

.why__tasty-title{
    font-size: 2rem;
    font-weight: 500;
}

.why__tasty-title span {
    color: #df2020;
}

.why__tasty-description{
    font-size: 1rem;
    font-weight: 400;
    color: #555;
    line-height: 1.5rem;
}

.tasty__listgroup-item{
    margin-top: 20px;
    font-weight: 400;
    color: #444;
}

.tasty__title{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
    font-weight: 600;
}

.testimonial__subtirle{
    color: #df2020;
    font-size: 1rem;
    font-weight: 400;
}

.testimonial_title span {
    color: #df2020;
}

.testimonial_description{
    color: #777;
    line-height: 30px;
}

@media only screen and (max-width: 768px) {
    .main__content h5{
        font-size: 0.8rem;
    }

    .main__title{
        font-size: 1.8rem;
        line-height: 40px;
    }

    .main__description{
        font-size: 0.8rem;
        line-height: 25px;
    }

    .btn{
        padding: 5px 15px;
        font-size: 0.7rem;
    }

    .main__icon{
        font-size: 0.7rem;
    }

    .food__category{
        padding: 15px;
    }

    .food__category button{
        padding: 5px 15px;
        font-size: .7rem;
    }

    .why__tasty-title{
        font-size: 1.6rem;
    }

    .why__tasty-description{
        font-size: 0.7rem;
    }

    .tasty__title{
        font-size: 1rem;
    }

    .tasty__desc{
        font-size: 0.8rem;
    }

    .testimonial__subtirle{
        font-size: 1rem;
    }

    .testimonial_description{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 576px) {
    .main__content{
        text-align: center;
    }

    .main__btns{
        justify-content: center;
    }

    .main__icons{
        justify-content: center;
    }
}