.text-center{
    text-align: center;
}

.feature__subtitle{
    color: #df2020;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 20px;
}

.feature__title{
    font-size: 2rem;
    line-height: 50px;
}

.feature__title span{
    color: #df2020;
}

.feature__description{
    color: #777;
    line-height: 2rem;
    margin-bottom: 20px;
}

.feature__box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 10px;
    text-align: center;
}

.feature__img{
    width: 30%;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .feature__box{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-column-gap: 10px;
        text-align: center;
    }

    .feature__subtitle{
        font-size: 1rem;
    }

    .feature__title{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .feature__text{
        font-size: 0.8rem;
        
    }
}